
@layer benev {
	:root, :host {
		--benev-font-size: 18px;
		--benev-site-width: 62em;
		--benev-copy-width: 70ch;

		--benev-bg: #111;
		--benev-prime: #ebb935;
		--benev-text: color-mix(in oklch, var(--benev-prime), #fffa 75%);
		--benev-intense: white;
		--benev-focus: 2px solid cyan;
		--benev-link: color-mix(in oklch, var(--benev-prime), white 50%);

		--benev-select-bg: #f60;
		--benev-select-color: #ff8;

		--benev-line: #ebb93588;
		--benev-thin: 1px;
		--benev-thick: 2px;
		--benev-border: var(--benev-thin) solid color-mix(in oklch, transparent, var(--benev-line) 50%);

		--benev-pad: 0.5em;
		--benev-space: 1em;
		--benev-anim: 300ms;
		--benev-round: 0.5em;
		--benev-blur: 0.5em;

		--benev-box-shadow: 0 0.5em 2em #0008;
		--benev-text-shadow: 0.04em 0.08em 0.1em #0008;
	}

	[benev-link] {
		color: var(--benev-link);
		text-decoration: none;

		&:visited {
			color: var(--benev-link);
		}

		&:is(:hover, :focus-visible) {
			color: color-mix(in srgb, white, var(--benev-link) 90%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, white, var(--benev-link) 50%);
		}
	}

	[benev-button] {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		padding: var(--pad) var(--space);

		color: var(--benev-prime);
		background: oklch(from var(--benev-bg) l c h / 50%);

		border: none;
		border-radius: var(--benev-round);
	}
}

