
@layer demo {
	html {
		font-size: var(--benev-font-size);
		font-family: sans-serif;
		background: var(--benev-bg);
	}

	.topnav {
		display: flex;
		justify-content: end;
	}

	main {
		padding: var(--benev-pad);
		padding-top: 3em;
	}
}

